*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background: grey;
}
/* selector de etiqueta */
h1{
    background-color: royalblue;
    color: brown;
    font-size: big ;
    text-decoration: underline;
}

input[type ="text"]{
    margin-bottom: 15px;
    padding: 15px;
    width: 200px;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 25px;
    text-transform: uppercase;
}

select[name="edad"]{
    background-color: salmon;
    color: tomato;
}

#caja1{    ;
    background-color: seagreen;
}

#saludo h1{
    background-color: blue;
}

#parrafo{
    border: 5px solid black;
    padding: 15px;
}

#usuario form {
    display: block;
    border: 15px solid rebeccapurple;
    padding: 20px;

}

.parrafo{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.parrafo1{
    background-color: aqua;
    color: brown;
    padding: 10px;
}

.parrafo2{
    background-color: blueviolet;
    color: green;
    border: 5px;
}

footer a{
    color: red;
}