*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background: grey;
}
/* selector de etiqueta */
h1{
    color: brown;
    font-size: big ;
    text-decoration: underline;
}

#parrafo{
    border: 5px solid black;
    padding: 15px;
}

#usuario form *{
    display: block;
    border: 15px;
}

.parrafo{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.parrafo1{
    background-color: aqua;
    color: brown;
    padding: 10px;
}

.parrafo2{
    background-color: blueviolet;
    color: green;
    border: 5px;
}

footer a{
    color: red;
}